<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Student Organization Website</title>

  <!-- Bootstrap Core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <!-- Custom CSS -->
  <style>
    body {
      padding-top: 48px;
      /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

      /*font-size: 62.5%;*/
      /*font-family: arial, sans-serif;*/
    }


    /* For Carousel*/
    #nttLogo{
      height: 100px;
      width: 100px;
    }

    #websiteTitle{
      font-size: 10em;
      vertical-align: middle;
      font-family: 'Pacifico', cursive;
      padding-left: 15px;
      color: #191970;
    }
    #websiteSlogan{
      font-size: 5.4em;
    }
    /* Carousel Styling */
    .slide1{
      background-image: url('img/mainimage2.png');
      height: 600px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .slide2{
      background-image: url('img/mainimage1.jpg');
      height: 600px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .carousel-caption h1{
      font-size: 5.4em;
      font-family: 'Pacifico', cursive;
      padding-bottom: .4em;
    }
    .carousel-caption p{
      font-size: 2em;
    }


  </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      </head>

      <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Org Name</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <!-- Each navigation items -->
                <li>
                  <a href="about.html">About</a>
                </li>

                <li>
                  <a href="#">Users</a>
                </li>

                <li>
                  <a href="#">Events</a>
                </li>

                <li>
                  <a href="#">Bills</a>
                </li>

                <li>
                  <a href="#">Message</a>
                </li>

                <li>
                  <!-- Opens Modal for sign up -->
                  <a href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Log In</a>
                </li>

              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>


        <!-- Page Content -->
        <div class="container">

          <div class="row">
            <div class="col-lg-12 text-center">
              <!-- <h1>Student organization template</h1> -->

            </div>
          </div>


        </div>
        <!-- /.container -->




        <!-- Carousel -->
        <!-- Surround everything with a div with the class carousel slide -->
        <div id="theCarousel" class="carousel slide" data-ride="carousel">

          <!-- Define how many slides to put in the carousel -->
          <ol class="carousel-indicators">
            <li data-target="#theCarousel" data-slide-to="0" class="active"> </li >
              <li data-target="#theCarousel" data-slide-to="1"> </li>
              <!-- <li data-target ="#theCarousel" data-slide-to="2"> </li> -->
            </ol >

            <!-- Define the text to place over the image -->
            <div class="carousel-inner">
              <div class="item active" >
                <div class ="slide1"></div>
                <div class="carousel-caption">
                  <h1 style="font-size: 22px">Student org_1</h1>
                  <p>Description</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Button</a></p>
                </div>
              </div>

              <div class="item">
                <div class="slide2"></div>
                <div class="carousel-caption">
                  <h1 style="font-size: 22px">Student org_2</h1>
                  <p>Description 2</p>
                  <button type="submit" class = "btn btn-warning btn-lg">Be a member!</button>
                </div>
              </div>

            </div>

            <!-- Set the actions to take when the arrows are clicked -->
            <a class="left carousel-control" href="#theCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"> </span>
            </a>
            <a class="right carousel-control" href="#theCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
          <!-- Carousel -->


          <!-- Modal for LogIn/SignUp-->
          <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <br>
                <div class="bs-example bs-example-tabs">
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                    <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                    <li class=""><a href="#why" data-toggle="tab">Problem?</a></li>
                  </ul>
                </div>
                <div class="modal-body">
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in" id="why">
                      <p></p><br> Please contact <a mailto:href="dmin2@wisc.edu"></a>dmin2@wisc.edu</a> for any other inquiries.</p>
                    </div>
                    <div class="tab-pane fade active in" id="signin">
                      <form class="form-horizontal">
                        <fieldset>
                          <!-- Sign In Form -->
                          <!-- Text input-->
                          <div class="control-group">
                            <label class="control-label" for="userid">Email:</label>
                            <div class="controls">
                              <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="KevinSixpack@wisc.edu" class="input-medium" required="">
                            </div>
                          </div>
                          <!-- Password input-->
                          <div class="control-group">
                            <label class="control-label" for="passwordinput">Password:</label>
                            <div class="controls">
                              <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                            </div>
                          </div>

                          <!-- Multiple Checkboxes (inline) -->
                          <div class="control-group">
                            <label class="control-label" for="rememberme"></label>
                            <div class="controls">
                              <!-- <label class="checkbox inline" for="rememberme-0"> -->
                              <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                              Remember me
                            </label>
                          </div>
                        </div>

                        <!-- Button -->
                        <div class="control-group">
                          <label class="control-label" for="signin"></label>
                          <div class="controls">
                            <button id="signin" name="signin" class="btn btn-success">Sign In</button>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="signup">
                    <form class="form-horizontal">
                      <fieldset>
                        <!-- Sign Up Form -->

                        <!-- Text input-->
                        <div class="control-group">
                          <label class="control-label" for="name">Name:</label>
                          <div class="controls">
                            <input id="name" name="name" class="form-control" type="text" placeholder="Kevin Zhou" class="input-large" required="">
                          </div>
                        </div>

                        <!-- Text input-->
                        <div class="control-group">
                          <label class="control-label" for="Email">Email:</label>
                          <div class="controls">
                            <input id="Email" name="Email" class="form-control" type="text" placeholder="KevinSixpack@wisc.edu" class="input-large" required="">
                          </div>
                        </div>

                        <!-- Text input-->
                        <div class="control-group">
                          <label class="control-label" for="phoneNumber">Phone number:</label>
                          <div class="controls">
                            <input id="phoneNumber" name="phoneNumber" class="form-control" type="text" placeholder="xxx-xxx-xxxx" class="input-large" required="" maxlength="12">
                          </div>
                        </div>

                        <!-- Password input-->
                        <div class="control-group">
                          <label class="control-label" for="password">Password:</label>
                          <div class="controls">
                            <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                            <em>1-8 Characters</em>
                          </div>
                        </div>

                        <!-- Text input-->
                        <div class="control-group">
                          <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                          <div class="controls">
                            <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
                          </div>
                        </div>

                        <!-- Button -->
                        <div class="control-group">
                          <label class="control-label" for="confirmsignup"></label>
                          <div class="controls">
                            <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <center>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </center>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal for LogIn/SignUp -->












        <!-- jQuery Version 1.11.1 -->
        <script src="../js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

      </body>

      </html>
